<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-sm">
            <div class="panel panel-default m-2" id="community">
                <div class="panel-body">
                    <img src="{{ url_for('static', filename='COMMUNITY.png') }}" width="300"/>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="panel panel-default m-2">
                <div class="panel-body">
                    <img src="{{ url_for('static', filename='HOUSING.png') }}" width="300"/>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="panel panel-default m-2">
                <div class="panel-body">
                    <img src="{{ url_for('static', filename='JOBS.png') }}" width="300"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-sm">
            <div class="panel panel-default m-2" id="panel1">
                <div class="panel-body">
                    <img src="{{ url_for('static', filename='SERVICES.png') }}" width="300"/>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="panel panel-default m-2">
                <div class="panel-body">
                    <img src="{{ url_for('static', filename='FORSALE.png') }}" width="300"/>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="panel panel-default m-2">
                <div class="panel-body">
                    <img src="{{ url_for('static', filename='DISCUSSION.png') }}" width="300"/>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script>
    $("#community").click(function () {
        location.href = "/community";
    });

</script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
{% endblock %}
</html>